* {
     font-family: 'Roboto', sans-serif;
}

.hero {
    height: 535px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.content {
    width: 75%;
}
ul {
    display: flex;
    gap: 25px;
    color: white;
    list-style: none;
    font-size: 19px;
    padding-left: 0;
    /* align logo with navigation links */
    align-items: center;
}

li a {
    text-decoration: none;
    color: inherit;
}

li.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 25px;
}